//
   Created by frederikolesen on 21/10/14.

doctype html
html(lang="en")
    head
        script(src="/javascripts/todaysDate.js")

    input(type="button", value="Tryk for dato.", onclick="dateToday()")

    p <a href="http://localhost:3000">Gå til Forsiden</a>
