p A smart man makes a mistake, learns from it, and never makes that mistake again. But a wise man finds a smart man and learns from him how to avoid the mistake altogether.

    p <a href="http://localhost:3000">Gå til Forsiden</a>